[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "archeoViz"]
	path = archeoViz
	url = https://github.com/sebastien-plutniak/archeoviz
[submodule "archeofrag"]
	path = archeofrag
	url = https://github.com/sebastien-plutniak/archeofrag
[submodule "archeofrag.gui"]
	path = archeofrag.gui
	url = https://github.com/sebastien-plutniak/archeofrag.gui
