[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "archeoViz"]
	path = archeoViz
	url = https://github.com/sebastien-plutniak/archeoviz
	shallow = true
	registered = true
[submodule "archeofrag"]
	path = archeofrag
	url = https://github.com/sebastien-plutniak/archeofrag
	shallow = true
	registered = true
